header {
  background: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

p,
span {
  font-size: 20px;
}

.statePrice {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

figure {
  margin-left: 0;
}

figcaption {
  font-weight: bold;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}
